{% extends 'layouts/base.twig' %}

{% block content %}
    <h2>Patents</h2>

    <table class="ui single line table">
        <thead>
            <tr>
        		<th> Title </th>
        		<th> Company/User </th>
        		<th> Description </th>
        	</tr>
        </thead>

        <tbody>
            {% for patents in patent %}
        	<tr>
        		<td><a href="/patents/{{patents.patentId}}">{{ patents.title }}</a></td>
                {% if patents.company == user.username %}
                    <td><a href="/users/{{ patents.company }}">{{ patents.company }}</a></td>
                {% else %}
        		<td> {{ patents.company }} </td>

                {% endif %}
        		<td> {{ patents.description }}</td>
        	</tr>
        	{% endfor %}

            {% if patent is empty %}
            <tr>
                <td colspan="3">There are no patents registered yet!</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <h2>Search for Patents</h2>
    <form action="" method="post" class="ui form">
      <div class="fields">
        <div class="ten wide field">
          <input type="text" name="patentsSearch">
          </div>
        <input type="submit" name="submit" value="search" class="positive ui button">
      </div>


      <table class="ui single line table">
        <thead>
          <tr>
          <th> Title </th>
          <th> Company/User </th>
          <th> Description </th>
          </tr>
        </thead>

        <tbody>
            {% for searchWord in search %}
          <tr>
            <td><a href="/patents/{{searchWord.patentId}}">{{ searchWord.title }}</a></td>
                {% if searchWord.company == user.username %}
                    <td><a href="/users/{{ searchWord.company }}">{{ searchWord.company }}</a></td>
                {% else %}
            <td> {{ searchWord.company }} </td>

                {% endif %}
            <td> {{ searchWord.description }}</td>
          </tr>
            {% endfor %}

            {% if search is empty %}
            <tr>
                <td colspan="3">No Patents matched your search</td>
            </tr>
            {% endif %}
        </tbody>
      </table>
    </form>
{% endblock %}
