
<div class="ui container">
    <a href="/" class="header item">
        {{ title|default(titleVar) }}
    </a>
    <a href="/aboutus" class="item">About us</a>
    <a href="{{ urlFor('showpatents') }}" class="item">Patents</a>
    <div class="right menu">
        {% if isLoggedIn %}
            <a href="#" class="item">Logged in as {{ loggedInUsername }}</a>
            <a href="{{ urlFor('logout') }}" class="item">Log out</a>
            <div class="ui search">
              <div class="ui icon input">
                <input class="prompt" placeholder="Search for patents" type="text">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
        {% else %}
            <a href="{{ urlFor('newuser') }}" class="item">Create account</a>
            <a href="/login" class="item">Log in</a>
        {% endif %}
    </div>
</div>

<script type="text/javascript" src="test.js"></script>
